typing_extensions
protobuf
sigstore
in_toto_attestation
cryptography
certifi
pyopenssl
huggingface_hub
transformers
sentencepiece
sacremoses
cuda-python==12.9.0
torch
pillow
cupy-cuda12x
datasets
nvidia-dali-cuda120
importlib_metadata
torchvision
